*{
    margin:0;
    padding: 0;
}
body{
    background-color: white;
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1000px;
    background-color: antiquewhite;
    margin: 0 auto;
    padding: 20px;
}
header{
    
}
.profile-image{
    width: 100px;
    height: 120px;
    background: 3px solid white;
    border-radius:50% ;
    float: left;
}
.class-bio{
     float: left;
    padding: 20px;
}
h1,h2,h3,h4,h5,h6{
    color: black;
}
.header-contract:{
    float: right;
    padding: 30px;
}
.header-contract a{
     text-decoration: none;
    font-weight: bold;
}
.header-contract a:hover{
    text-decoration: underline;
    color: tomato;
    
}
.div-clear{
    clear: both;
}
hr{
    border:  solid black 3px;
    width:  100;
    margin: 20px auto;
    border-bottom: none;
}
\*-------------------

Personal section start
---------------------*\
#persional-scetion{
    
}
.content{
    margin-bottom:  30px;
}
.left-div{
    width: 30%;
    float: left;
}
.Right-div{
     width: 70%;
    float: left;
   }
.common-hr{
    border: solid black 1px;
    border-bottom: none;
    width: 100%;
    margin: 20px auto;
}

\*-------------------

education section start
---------------------*\

.edu-template-left{
   float:left;
    width:5%;
}

.edu-template-right{
     float:right;
    width:45%;
}
 

